@import "../utility.scss";
.search {
	position: relative;
	min-height: 100vh;
	padding-top: 0.1rem;
	.header {
		width: 35%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 1s all ease;
		&.move_left {
			top: 0;
			left: 0;
			transform: unset;
		}
		.heading {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			&_logo {
				width: 4.5rem;
				height: 4.5rem;
			}
			&_text {
				margin-left: 2rem;
				font-size: 1.4rem;
			}
		}
		.form {
			display: flex;

			input {
				color: var(--text-color);
				flex-basis: 75%;
				display: block;
				border: 1px solid #ccc;
				box-shadow: inset 0 1px 3px #ddd;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 1.2rem 1.2rem;
			}
			select {
				color: var(--text-color);
				flex: 1;
				margin-left: 1.2rem;
				padding: 1.2rem 0.2rem;
				border: 1px solid #ccc;
				box-sizing: border-box;
				resize: vertical;
				&,
				select option {
					text-transform: capitalize;
				}
			}
		}
	}
	.result {
		margin-top: 14rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		width: 100%;
		@include respond(phone) {
			grid-template-columns: repeat(2, 1fr);
		}
		& > div {
			height: 20rem;
			background-color: var(--text-color);
		}
	}
}
