.heading {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	position: relative;

	.load {
		position: absolute;
		width: 3rem;
		height: 3rem;
		right: 3rem;
	}
	&Logo {
		width: 4.5rem;
		height: 4.5rem;
	}
	&Text {
		margin-left: 2rem;
		font-size: 1.4rem;
	}
}
