.Button {
	font-size: 1.6rem;
	background-color: var(--secondary-color);
	border: none;
	color: var(--main-color);
	outline: none;
	cursor: pointer;
	font: inherit;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	&:disabled {
		color: #ccc;
		cursor: not-allowed;
	}
}
