@import "../../../utility";
.infinite-scroll-component {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	span {
		grid-column: 1 / span 3;
		font-size: 1.6rem;
		text-align: center;
	}
	@include respond(phone) {
		grid-template-columns: repeat(2, 1fr);
	}
	& > div {
		overflow: hidden;
		background-color: var(--gray-color-light1);
	}
}
