@import "../../../../utility.scss";
.user {
	position: relative;
	&Logo {
		height: 30rem;
		img {
			object-fit: cover;
			height: initial;
		}
		@include respond(phone) {
			width: 54rem;
			height: 40rem;
		}
		@include respond(sphone) {
			width: 34rem;
			height: 36rem;
		}
	}
	&Info {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		padding: 3rem;
		text-align: center;
		font-size: 1.8rem;
		span:last-child {
			padding-left: 2rem;
		}
		a {
			color: var(--main-color);
		}
	}
}
